<a href="https://colab.research.google.com/github/queenpink25/Next-AI-Inc./blob/main/Copy_of_pyladies12_4_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Hello world')

Hello world

In [ ]:
#indices

fruits=['Apple','Mangoes','Oranges']
fruits[0] #prints the first variable in the string
len(fruits)
fruits[0:]
fruits[::-1  ] #prints variables in reverse order
fruits.append('Pear')
print (fruits)
fruits[0]='pawpaw'# replaces Apple with Apple
print(fruits)
fruits.pop(1)
del fruits[0]

['Apple', 'Mangoes', 'Oranges', 'Pear']
['pawpaw', 'Mangoes', 'Oranges', 'Pear']

In [ ]:

#adding another list of items

fruits=['Apple','Mangoes','Oranges']
bas  = ['melon','ovacado','grapes']
fruits.append(bas)
print(fruits)

['Apple', 'Mangoes', 'Oranges', ['melon', 'ovacado', 'grapes']]

In [ ]:
#correcting errors
fruits_shopping['apples']=20
fruits_shopping

{'banana': 8, 'apples': 20, 'pears': 5, 'avacado': 6}

In [ ]:
#dictionaries
#indentifying the number of items per variable
fruits_shopping={
    'banana':8,
    'apples':10,
    'pears':5,
    'avacado':6
}
fruits_shopping
fruits_shopping.values()

dict_values([8, 10, 5, 6])

In [ ]:
fruits_shopping.popitem()

('avacado', 6)

In [ ]:
#Tuples
#you can not change anything in the tuples ideal for security purposes

In [ ]:
#sets
doesnt give aparticular order
my_fruits={'apple','avacado','pears'}
my_fruits

{'apple', 'avacado', 'pears'}

In [ ]:
set_copy=my_fruits.copy()
my_fruits

{'apple', 'avacado', 'pears'}

In [ ]:
my_fruits.add('avacado')
my_fruits

{'apple', 'avacado', 'pears'}

In [ ]:
#conditional statements
#if ,else
if 1>2:
  print('1 is greater than 2')
else:
  print('3 is less than 7')

3 is less than 7

In [ ]:
#elif

if 2 >0:

 print("positive")
elif x==0:
 print('zero')
else:
  print("negative")

positive

In [ ]:
#comparisons
if 3>7:
  print('3 is greater than 7')
elif(3==7):
  print('3 is equal to 7')
else:
  print('3 is not greater than 7')

3 is not greater than 7

In [ ]:
#we use .format when werent sure of the  next values

def compare_numbers(x,y):
  if x>y:
    print('{} is greater than 2'.format(x,y))
  elif x>2:
    print('{} is greater than 2'.format(x,y))
  else:
    print('{}is equal to {}'.format(x,y))

compare_numbers(3,6)

3 is greater than 2

In [ ]:
names=['Derrick','immy','Andrew','Mary']
for i in names:
  print(i)

Derrick
immy
Andrew
Mary

In [ ]:
fruits_shopping
{'banana':8, 'apples':20,'avacado':5}

{'banana': 8, 'apples': 20, 'avacado': 5}

In [ ]:
for key,value in fruits_shopping.items():
   print(f'i want{value}{key}')

i want8banana
i want20apples
i want5pears

In [ ]:
for key,value in fruits_shopping.items():
  print(f'i want{value}{key}')

i want8banana
i want20apples
i want5pears

In [ ]:
#while loop

j=1
while j<6:
  print(j)
  j=j+1

1
2
3
4
5

In [ ]:
#RANGE FNCTION

for x in range(20):
   print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#MAP METHOD
#Maps what a function will do on a list
numbers =[1,2,3,4,5]
def add_two(x):
  x=x+2
  return x
  #list(map(add_two,numbers))